/** Page Header Styles **/
.img-profile {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.page-header {
  text-align: center;
  background-color: #65b1ff;
  padding: 3em;
}

.page-header h1 {
  color: #9f3448;
}

@media screen and (min-width:768px) {
  .page-header {
    text-align: left;
  }
}
